<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster-src.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_34ee004c569f4671a79fc3bab4fb8046 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_34ee004c569f4671a79fc3bab4fb8046" ></div>
        
</body>
<script>    
    

            
                var southWest = L.latLng(-90, -180);
                var northEast = L.latLng(90, 180);
                var bounds = L.latLngBounds(southWest, northEast);
            

            var map_34ee004c569f4671a79fc3bab4fb8046 = L.map(
                                  'map_34ee004c569f4671a79fc3bab4fb8046',
                                  {center: [40,-98],
                                  zoom: 5,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_5730b08a00e04bb696bd2a65add3502f = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    continuousWorld: false,
                    noWrap: false,
                    attribution: 'Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
                    detectRetina: false
                    }
                ).addTo(map_34ee004c569f4671a79fc3bab4fb8046);

        
    

            var marker_0a0a500691a448568aa6631d9dade24e = L.marker(
                [33.45535,-83.2414],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_34ee004c569f4671a79fc3bab4fb8046);
            
    

                var icon_33fc09ec1fa948a98d80da117c6d8366 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_0a0a500691a448568aa6631d9dade24e.setIcon(icon_33fc09ec1fa948a98d80da117c6d8366);
            
    
            var popup_6a54442b934b43b0ad27a893db5d9828 = L.popup({maxWidth: '300'});

            
                var html_41001a194c3c402ca720cbbd19cbadec = $('<div id="html_41001a194c3c402ca720cbbd19cbadec" style="width: 100.0%; height: 100.0%;">2021 - Greensboro, GA - TBD</div>')[0];
                popup_6a54442b934b43b0ad27a893db5d9828.setContent(html_41001a194c3c402ca720cbbd19cbadec);
            

            marker_0a0a500691a448568aa6631d9dade24e.bindPopup(popup_6a54442b934b43b0ad27a893db5d9828);

            
        
    

            var marker_ba5cfcb723884ce989151a18d0127a37 = L.marker(
                [28.554899,-82.387863],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_34ee004c569f4671a79fc3bab4fb8046);
            
    
            var popup_76db157a88424728b9af9433a9d1dca1 = L.popup({maxWidth: '300'});

            
                var html_0271e741118c41aa9750cf078066d219 = $('<div id="html_0271e741118c41aa9750cf078066d219" style="width: 100.0%; height: 100.0%;">2020 - Brooksville, FL - Josh Duckett</div>')[0];
                popup_76db157a88424728b9af9433a9d1dca1.setContent(html_0271e741118c41aa9750cf078066d219);
            

            marker_ba5cfcb723884ce989151a18d0127a37.bindPopup(popup_76db157a88424728b9af9433a9d1dca1);

            
        
    

            var marker_8091c898d17f4d5099815854667362bd = L.marker(
                [33.494171,-111.926048],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_34ee004c569f4671a79fc3bab4fb8046);
            
    
            var popup_148b34f02b4b4aa18a3c280fce789490 = L.popup({maxWidth: '300'});

            
                var html_83b503612e5c4526b0203bfa273e2b9b = $('<div id="html_83b503612e5c4526b0203bfa273e2b9b" style="width: 100.0%; height: 100.0%;">2018 &amp; 2019 - Scottsdale, AZ - Alex King</div>')[0];
                popup_148b34f02b4b4aa18a3c280fce789490.setContent(html_83b503612e5c4526b0203bfa273e2b9b);
            

            marker_8091c898d17f4d5099815854667362bd.bindPopup(popup_148b34f02b4b4aa18a3c280fce789490);

            
        
    

            var marker_f160c6b12d654443bca3439696eb0051 = L.marker(
                [36.805531,-114.06719],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_34ee004c569f4671a79fc3bab4fb8046);
            
    
            var popup_5f23d597c4d543ca8a4bac5f04af2777 = L.popup({maxWidth: '300'});

            
                var html_60df91279e97456aa505c7d4e6bdcb5a = $('<div id="html_60df91279e97456aa505c7d4e6bdcb5a" style="width: 100.0%; height: 100.0%;">2017 - Mesquite, NV - Alex King</div>')[0];
                popup_5f23d597c4d543ca8a4bac5f04af2777.setContent(html_60df91279e97456aa505c7d4e6bdcb5a);
            

            marker_f160c6b12d654443bca3439696eb0051.bindPopup(popup_5f23d597c4d543ca8a4bac5f04af2777);

            
        
    

            var marker_e5721f83839f454bb29083ec0218d82d = L.marker(
                [41.878114,-87.629798],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_34ee004c569f4671a79fc3bab4fb8046);
            
    
            var popup_fa4bf206194a42b6b905557584441294 = L.popup({maxWidth: '300'});

            
                var html_90b2a92cc1204ef19d4ed3432f450e0b = $('<div id="html_90b2a92cc1204ef19d4ed3432f450e0b" style="width: 100.0%; height: 100.0%;">2016 - Chicago, IL - Jerry King</div>')[0];
                popup_fa4bf206194a42b6b905557584441294.setContent(html_90b2a92cc1204ef19d4ed3432f450e0b);
            

            marker_e5721f83839f454bb29083ec0218d82d.bindPopup(popup_fa4bf206194a42b6b905557584441294);

            
        
    

            var marker_1fddc897094446cd917b3a9d4288c1f8 = L.marker(
                [34.502587,-84.951054],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_34ee004c569f4671a79fc3bab4fb8046);
            
    
            var popup_c7c489aa457549dca4b82150ca67d258 = L.popup({maxWidth: '300'});

            
                var html_c1c7e130349145a5aead2e596a8977ef = $('<div id="html_c1c7e130349145a5aead2e596a8977ef" style="width: 100.0%; height: 100.0%;">2015 - Calhoun, GA - Stuart King</div>')[0];
                popup_c7c489aa457549dca4b82150ca67d258.setContent(html_c1c7e130349145a5aead2e596a8977ef);
            

            marker_1fddc897094446cd917b3a9d4288c1f8.bindPopup(popup_c7c489aa457549dca4b82150ca67d258);

            
        
    

            var marker_a0da15d4ffc5471aa47b36504f265ba5 = L.marker(
                [42.331427,-83.045754],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_34ee004c569f4671a79fc3bab4fb8046);
            
    
            var popup_729cb3c6093b4548a85cdada50b3dfb4 = L.popup({maxWidth: '300'});

            
                var html_0bbd3748a9814a47be85919e6883d9bf = $('<div id="html_0bbd3748a9814a47be85919e6883d9bf" style="width: 100.0%; height: 100.0%;">2014 - Detroit, MI - Reggie Sherrill</div>')[0];
                popup_729cb3c6093b4548a85cdada50b3dfb4.setContent(html_0bbd3748a9814a47be85919e6883d9bf);
            

            marker_a0da15d4ffc5471aa47b36504f265ba5.bindPopup(popup_729cb3c6093b4548a85cdada50b3dfb4);

            
        
    

            var marker_3bdb279b419f475eb58eec197f9a5494 = L.marker(
                [39.739236,-104.990251],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_34ee004c569f4671a79fc3bab4fb8046);
            
    
            var popup_efb3f97c052f40fb8cdf60374c1dd93e = L.popup({maxWidth: '300'});

            
                var html_248535805d444cf2a017e166545ad083 = $('<div id="html_248535805d444cf2a017e166545ad083" style="width: 100.0%; height: 100.0%;">2013 - Denver, CO - Stuart King</div>')[0];
                popup_efb3f97c052f40fb8cdf60374c1dd93e.setContent(html_248535805d444cf2a017e166545ad083);
            

            marker_3bdb279b419f475eb58eec197f9a5494.bindPopup(popup_efb3f97c052f40fb8cdf60374c1dd93e);

            
        
    

            var marker_be14c45ef9484b1ebf5731b49ab20e97 = L.marker(
                [47.677683,-116.780466],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_34ee004c569f4671a79fc3bab4fb8046);
            
    
            var popup_e92623b79b6c45c1ac19227db4138a16 = L.popup({maxWidth: '300'});

            
                var html_44f2cbe9e3f4496487fd3a3f1daa538c = $('<div id="html_44f2cbe9e3f4496487fd3a3f1daa538c" style="width: 100.0%; height: 100.0%;">2012 - Coeur d&#39;Alene, ID - Jerry King</div>')[0];
                popup_e92623b79b6c45c1ac19227db4138a16.setContent(html_44f2cbe9e3f4496487fd3a3f1daa538c);
            

            marker_be14c45ef9484b1ebf5731b49ab20e97.bindPopup(popup_e92623b79b6c45c1ac19227db4138a16);

            
        
    

            var marker_bcde6421a8ac4b60b3c92ba7e8b8f303 = L.marker(
                [37.096528,-113.568416],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_34ee004c569f4671a79fc3bab4fb8046);
            
    
            var popup_ca9e9d719d074501b96383831ee4fdaf = L.popup({maxWidth: '300'});

            
                var html_6def89d14ca94e38a3fd64d75ec1acfe = $('<div id="html_6def89d14ca94e38a3fd64d75ec1acfe" style="width: 100.0%; height: 100.0%;">2011 - St. George, UT - Reggie Sherrill</div>')[0];
                popup_ca9e9d719d074501b96383831ee4fdaf.setContent(html_6def89d14ca94e38a3fd64d75ec1acfe);
            

            marker_bcde6421a8ac4b60b3c92ba7e8b8f303.bindPopup(popup_ca9e9d719d074501b96383831ee4fdaf);

            
        
    

            var marker_cd06d641742f4243b7f4b55254f36f63 = L.marker(
                [38.291859,-122.458036],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_34ee004c569f4671a79fc3bab4fb8046);
            
    
            var popup_4eed59a3e8f944b4aaaa6b4b0ddf239c = L.popup({maxWidth: '300'});

            
                var html_49039ea70713443985ed46ceaa736b6f = $('<div id="html_49039ea70713443985ed46ceaa736b6f" style="width: 100.0%; height: 100.0%;">2010 - Northern California - Alex King</div>')[0];
                popup_4eed59a3e8f944b4aaaa6b4b0ddf239c.setContent(html_49039ea70713443985ed46ceaa736b6f);
            

            marker_cd06d641742f4243b7f4b55254f36f63.bindPopup(popup_4eed59a3e8f944b4aaaa6b4b0ddf239c);

            
        
    

            var marker_7b9ef5dd2be54f848039e45a582c4b76 = L.marker(
                [39.237685,-120.02658],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_34ee004c569f4671a79fc3bab4fb8046);
            
    
            var popup_c49d365784d049c4b53e3cccadb48574 = L.popup({maxWidth: '300'});

            
                var html_65adb586847b42ef8c18e856f74a8737 = $('<div id="html_65adb586847b42ef8c18e856f74a8737" style="width: 100.0%; height: 100.0%;">2009 - Lake Tahoe, CA - Alex King</div>')[0];
                popup_c49d365784d049c4b53e3cccadb48574.setContent(html_65adb586847b42ef8c18e856f74a8737);
            

            marker_7b9ef5dd2be54f848039e45a582c4b76.bindPopup(popup_c49d365784d049c4b53e3cccadb48574);

            
        
    

            var marker_59dc8595081940489e742181077fa7d9 = L.marker(
                [47.606209,-122.332071],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_34ee004c569f4671a79fc3bab4fb8046);
            
    
            var popup_54fd9f1de9bf428ead3178adeeeb2d9c = L.popup({maxWidth: '300'});

            
                var html_c050915fb03346358db9e35eebfa084d = $('<div id="html_c050915fb03346358db9e35eebfa084d" style="width: 100.0%; height: 100.0%;">2008 - Seattle, WA - Alex King</div>')[0];
                popup_54fd9f1de9bf428ead3178adeeeb2d9c.setContent(html_c050915fb03346358db9e35eebfa084d);
            

            marker_59dc8595081940489e742181077fa7d9.bindPopup(popup_54fd9f1de9bf428ead3178adeeeb2d9c);

            
        
    

            var marker_63b780beb02446cba50881876b819e21 = L.marker(
                [35.960638,-83.920739],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_34ee004c569f4671a79fc3bab4fb8046);
            
    
            var popup_446470b1769c459390d59e371e3765b8 = L.popup({maxWidth: '300'});

            
                var html_21c9387ab4ba4ecca5bdd76f26907be3 = $('<div id="html_21c9387ab4ba4ecca5bdd76f26907be3" style="width: 100.0%; height: 100.0%;">2007 - Knoxville, TN - Stuart King</div>')[0];
                popup_446470b1769c459390d59e371e3765b8.setContent(html_21c9387ab4ba4ecca5bdd76f26907be3);
            

            marker_63b780beb02446cba50881876b819e21.bindPopup(popup_446470b1769c459390d59e371e3765b8);

            
        
    

            var marker_6d8fe61c8782438f81781290320df962 = L.marker(
                [33.520661,-86.80249],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_34ee004c569f4671a79fc3bab4fb8046);
            
    
            var popup_14555a6947f84a78a7997369d86d535d = L.popup({maxWidth: '300'});

            
                var html_92301c91d3644262a59e06ca6596316e = $('<div id="html_92301c91d3644262a59e06ca6596316e" style="width: 100.0%; height: 100.0%;">2006 - RTJ, Alabama - Gary Olson</div>')[0];
                popup_14555a6947f84a78a7997369d86d535d.setContent(html_92301c91d3644262a59e06ca6596316e);
            

            marker_6d8fe61c8782438f81781290320df962.bindPopup(popup_14555a6947f84a78a7997369d86d535d);

            
        
    

            var marker_fc0467d308954ce089ddda8a66fc7e79 = L.marker(
                [32.366805,-86.299969],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_34ee004c569f4671a79fc3bab4fb8046);
            
    
            var popup_ffafb99449c1404fa8f11c2b7d437d07 = L.popup({maxWidth: '300'});

            
                var html_6bbd1b6ef0f64f9b8ba68c2eaa74c471 = $('<div id="html_6bbd1b6ef0f64f9b8ba68c2eaa74c471" style="width: 100.0%; height: 100.0%;">2005 - RTJ, Alabama - Stuart King</div>')[0];
                popup_ffafb99449c1404fa8f11c2b7d437d07.setContent(html_6bbd1b6ef0f64f9b8ba68c2eaa74c471);
            

            marker_fc0467d308954ce089ddda8a66fc7e79.bindPopup(popup_ffafb99449c1404fa8f11c2b7d437d07);

            
        
</script>